/* .App {
	text-align: center;
} */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap");

.App {
	margin: 3rem auto;
	/* margin-top: 3rem; */
	display: block;
	max-width: 500px;
	font-family: "Noto Sans Display", sans-serif;
	background: linear-gradient(to top left, #28b487, #7dd56f);
	padding: 2rem;
	border: 2px solid black;
	border-radius: 2rem;
}
.App h1 {
	display: block;
	max-width: 400px;
	margin: 0rem 0rem;
	/* margin-top: 5rem; */
	/* text-align: center; */
}
body {
	background-color: #059669;
}
hr,
p {
	margin: 0rem;
}
.App .movie-genre {
	display: block;
	max-width: 400px;
	margin: 2rem auto;
	text-align: center;
}
.App .btn-genre {
	cursor: pointer;
	background: #059669;
	border-radius: 0.5rem;
	padding: 0.5rem 1rem;
	border: 1px solid black;
	margin: 0rem 0.7rem;
	color: white;
}
.App ul {
	padding-inline-start: 0px;
}
.App .list {
	max-width: 400px;
	display: block;
	list-style-type: none;
	margin: 1rem auto;
}

.App .list-item {
	padding-inline-start: 0px;
	border: 3px solid #e7e9eb;
	border-radius: 1.5rem;

	display: block;
	margin: 0.2rem 0rem;
	padding: 1rem;
}

.App .list-item .movie-name {
	display: block;
	font-size: large;
	font-weight: bold;
	text-align: left;
}
.App .list-item .movie-rating {
	display: block;
	margin-right: 5px;
	text-align: left;
}
